<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>记事本综合案例练习</title>
</head>
<body>
    <!--记事本综合案例练习
        完成的步骤：
            1.完成记事本的查找所有思路：
                将所有的数据绑定为vue的实例。
                遍历vue实例并展示到页面当中
            2.添加
                给添加的按钮添加单击事件
                在事件输入框中获取数据，使用v-model双向绑定数据信息
                将获取的数据信息添加到lists数组中
            3.删除
                删除所有，更新数量
    -->
    <div id="app">
        <input type="text" v-model="msg"><input type="button" value="添加到记事本" @click="add">
        <br>
        <ul>
            <li v-for="item, index in lists">
                {{index + 1}}、{{item}}   <a href="javascript:;" @click="del(index)">删除</a>
            </li>
        </ul>
        <hr>
        总数量: {{lists.length}} 条 <input type="button" value="删除所有" @click="delAll">
    </div>

<!-- 引入vue依赖-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    const vue = new Vue({
        el: "#app", // element, 表示用来指定vue的实例作用范围，即当前vue的作用范围就是app的这个部分
        data: {   // 用来给vue实力定义一些相关数据
            lists:[],
            msg:''
        },
        methods: {
            add(){
                // console.log(this.msg);
                this.lists.push(this.msg); // 必须要使用this,this表示当前的实例，msg即为当前实例的属性
                this.msg = '';
            },

            del(index){
                // 第一个参数表示从哪个下标开始删除信息，第二个参数表示删除几条
                this.lists.splice(index, 1);
            },

            delAll(){
                // 清空所有的列表数据信息
                this.lists = [];
            }
        }
    })
</script>
</body>
</html>